AIML ASSIGNMENT ONE

NAME: PUTIKAM YASHWANTH



REGISTER NUMBER: 21BAI1144

In [1]:
import pandas as pd
import numpy as np

In [4]:
# Task 1: Create a DataFrame with random values
data = np.random.randn(4, 4)
df = pd.DataFrame(data)
print("Task 1: We are printing a DataFrame with random values")
print(df)

Task 1: We are printing a DataFrame with random values
          0         1         2         3
0  1.060329 -0.885036  0.130441  0.978027
1 -1.057402 -0.346344  0.939635 -1.076413
2  0.549003  1.122378 -1.005165 -1.535333
3  1.424416 -0.089028 -0.072928  0.742832

In [5]:
# Task 2: Rename the DataFrame columns
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print("Task 2: DataFrame with column names changed as above")
print(df)

Task 2: DataFrame with column names changed as above
   Random value 1  Random value 2  Random value 3  Random value 4
0        1.060329       -0.885036        0.130441        0.978027
1       -1.057402       -0.346344        0.939635       -1.076413
2        0.549003        1.122378       -1.005165       -1.535333
3        1.424416       -0.089028       -0.072928        0.742832

In [6]:
# Task 3: Find descriptive statistics of the dataframe
descriptive_stats = df.describe()
print("\nTask 3: Descriptive statistics of the dataframe")
print(descriptive_stats)

Task 3: Descriptive statistics of the dataframe
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.494086       -0.049507       -0.002004       -0.222722
std          1.094878        0.848744        0.799080        1.268310
min         -1.057402       -0.885036       -1.005165       -1.535333
25%          0.147402       -0.481017       -0.305987       -1.191143
50%          0.804666       -0.217686        0.028756       -0.166791
75%          1.151351        0.213823        0.332740        0.801631
max          1.424416        1.122378        0.939635        0.978027

In [7]:
# Task 4: Check for null values and data types
null_values = df.isnull().sum()
data_types = df.dtypes
print("\nTask 4: Null values and data types")
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Task 4: Null values and data types
Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [8]:
# Task 5: Display columns using location methods
random_value_2 = df['Random value 2']
random_value_3 = df['Random value 3']

# Displaying columns using index location method
random_value_2_loc = df.iloc[:, 1]  # Column at index 1 (0-based index)
random_value_3_loc = df.iloc[:, 2]  # Column at index 2

print("\nTask 5: Displaying 'Random value 2' & 'Random value 3' columns")
print("Using location method:")
print(random_value_2)
print(random_value_3)

print("\nUsing index location method:")
print(random_value_2_loc)
print(random_value_3_loc)

Task 5: Displaying 'Random value 2' & 'Random value 3' columns
Using location method:
0   -0.885036
1   -0.346344
2    1.122378
3   -0.089028
Name: Random value 2, dtype: float64
0    0.130441
1    0.939635
2   -1.005165
3   -0.072928
Name: Random value 3, dtype: float64

Using index location method:
0   -0.885036
1   -0.346344
2    1.122378
3   -0.089028
Name: Random value 2, dtype: float64
0    0.130441
1    0.939635
2   -1.005165
3   -0.072928
Name: Random value 3, dtype: float64

VIT TASKS-GIVEN BY MAM IN CLASS

In [13]:
#Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)
data = np.random.randn(10,5)
df1 = pd.DataFrame(data)
df1

          0         1         2         3         4
0  1.142742 -0.173593  0.234535 -2.012049 -1.177420
1  1.807161  1.167264 -1.346912  0.885858 -1.174890
2  1.888503 -0.737341  3.656638 -1.609101 -0.513985
3  1.433169  0.247852  1.834643 -0.100676  0.998863
4 -0.271812 -1.578779 -0.472792 -1.343632 -0.490375
5 -1.256846  0.783376  0.746010 -0.011932 -1.077449
6  1.605788  0.389228  0.492905 -1.229971  1.299043
7 -0.572012  0.112137  0.146464  2.410167 -0.113688
8  0.284792 -1.520623  0.060896 -0.301139 -1.474192
9  0.234706 -0.606478 -1.606456  0.091539  0.440564

In [14]:
#Task- 2 Check the info of 'df'
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes

In [15]:
#Task 3- Check the descriptive statistics of 'df'
df1.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.629619  -0.191696   0.374593  -0.322094  -0.328353
std     1.101685   0.917768   1.521394   1.317459   0.967217
min    -1.256846  -1.578779  -1.606456  -2.012049  -1.474192
25%    -0.145182  -0.704625  -0.339370  -1.315217  -1.150530
50%     0.713767  -0.030728   0.190500  -0.200907  -0.502180
75%     1.562633   0.353884   0.682733   0.065671   0.302001
max     1.888503   1.167264   3.656638   2.410167   1.299043

In [16]:
#Task 4- check the 4th index observation with 'loc' slicing operator.
observation_at_4th_index = df1.loc[4]
print(observation_at_4th_index)

0   -0.271812
1   -1.578779
2   -0.472792
3   -1.343632
4   -0.490375
Name: 4, dtype: float64

In [20]:
#Task 5 - Check the null values in your 'df'
df1.isnull().any() #so, no null values are present

0    False
1    False
2    False
3    False
4    False
dtype: bool